<div id="info" class='full-height position-absolute text-center d-none d-lg-block'>
    <div class="position-relative h-100">
        <button id="up" class="btn">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="4rem" height="4rem" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve">
                <g>
                    <g id="keyboard-arrow-up" class="arrow">
                        <polygon points="35.7,247.35 153,130.05 270.3,247.35 306,211.65 153,58.65 0,211.65 		" />
                    </g>
                </g>
            </svg>
        </button>
        <div class="d-flex h-100 justify-content-end">
            <div id="country_flag"></div>
            <div id="data" class="col-5 align-self-center mb-5 pb-5 color-white">
                <h1 id="country_name">POLSKA</h1>
                <div>
                    <div class="d-flex m-auto w-50 justify-content-between">
                        <span id="capitol">Stolica:</span>
                        <span id="capitol_name">Warszawa</span>
                    </div>
                    <div class="d-flex m-auto w-50 justify-content-between">
                        <span id="space">Powierzchnia:</span>
                        <span><span id="space_value">312696</span>km<sup>2</sup></span>
                    </div>
                    <div class="d-flex m-auto w-50 justify-content-between">
                        <span id="people">Liczba ludności:</span>
                        <span><span id="people_value">38413000</span>mln</span>
                    </div>
                    <div id="desc" class="m-auto w-75 pt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade login-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header login-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#000000">Zaloguj się</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/users/login">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-input" id="username" aria-describedby="usernameHelp" placeholder="Wprowadź swoją nazwę użytkownika">
                        <label for="usernameLogin" class="form-control-title">NAZWA UŻYTKOWNIKA</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-input" id="password" placeholder="Wprowadź swoje hasło">
                        <label for="passwordLogin" class="form-control-title">HASŁo</label>
                    </div>
                    <button class="btn btn-control login">Zaloguj</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade register-modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header login-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#000000">Zarejestruj się</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-input" id="usernameReq" aria-describedby="nickHelp" placeholder="Wprowadź swoją nazwę użytkownika"
                            required>
                        <label for="nick" class="form-control-title">NAZWA UŻYTKOWNIKA</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-input" id="passwordReq" placeholder="Wprowadź swoje hasło" required>
                        <label for="password" class="form-control-title">HASŁO</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-input" id="exampleInputPassword1" placeholder="Potwierdź hasło">
                        <label for="exampleInputPassword1" class="form-control-title">POTWIERDŹ HASŁO</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-input" id="email" aria-describedby="emailHelp" placeholder="Wprowadź swój adres e-mail">
                        <label for="email" class="form-control-title">E-MAIL</label>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control form-control-input" id="age" aria-describedby="ageHelp" placeholder="Wprowadź swój wiek           14">
                        <label for="age" class="form-control-title">WIEK</label>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-control">Zarejestruj się</button>
                    <button type="submit" class="btn btn-control-login">Masz już konto?<span class="btn-title-loginup"> Zaloguj
                            się
                        </span></button>
                </form>
            </div>
        </div>
    </div>
</div>
