<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" gref="https://use.typekit.net/eiu71nm.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>NODE</title>
    <script>
        $(document).ready(function () {
            if (window.location.pathname != "/") {
                $("#info")[0].style.setProperty('display', 'none', 'important');
            }
        })
    </script>
</head>

<body>
    <div class="full-height d-flex flex-column">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><span id="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 240.11"><defs><style>.a{fill:#fff;}</style></defs><title>logo APTMonster</title><path d="M480,140v20H440a80,80,0,0,1-80-80V0h20V40h40V60H380V80a60,60,0,0,0,60,60Z"/><path d="M260,0a79.78,79.78,0,0,0-60,27.09V0H180V240h20V132.91A80,80,0,1,0,260,0ZM200,80A60,60,0,0,1,306.12,41.61L200,80.23Zm84.58-15.65q-3.84,8.41-7.7,16.82l-11.23,24.09a36.06,36.06,0,0,1-35.84-8.52,19.94,19.94,0,0,0,13.11-.2l6-12.82,3.51-7.66ZM260,140a60,60,0,0,1-59.07-49.46L213.52,86a44.09,44.09,0,0,0,41.39,29,43.62,43.62,0,0,0,15-2.66l1.55-.56,12.67-27.16q5.78-12.59,11.53-25.18l1.8-4L306.91,52l4.34-1.58.79-.29A60,60,0,0,1,260,140Z"/><path d="M330,260Z"/><path d="M53.52,70.05Z"/><path d="M140,0V27.09a80,80,0,1,0,0,105.82V160h20V0ZM80,20a60,60,0,0,1,60,60v.23L33.88,41.61A59.87,59.87,0,0,1,80,20Zm30.19,76.74a36.05,36.05,0,0,1-35.84,8.52L63.13,81.19q-3.87-8.41-7.71-16.84L87.59,76.06l3.51,7.66,6,12.82A19.94,19.94,0,0,0,110.19,96.74ZM80,140A60,60,0,0,1,28,50.1l.78.29L35.86,53l6.67,2.43,1.8,4q5.76,12.58,11.54,25.2l12.65,27.14,1.56.56A44,44,0,0,0,126.47,86l12.6,4.58A60,60,0,0,1,80,140Z"/><path class="a" d="M226,231.38h-5.16l-8.34-25.88v34H204V183.91h8.73l10.72,32.31,10.8-32.31h9.05v55.57h-8.89v-34Z"/><path class="a" d="M270.18,183.27h.63c8.42,0,14,3.33,14,11.75v33.34c0,8.42-5.56,11.75-14,11.75h-.63c-8.42,0-14-3.33-14-11.75V195C256.21,186.53,261.76,183.27,270.18,183.27ZM270.5,232c3,0,5.08-1.11,5.08-5.08V196.45c0-4-2.07-5.08-5.08-5.08s-5.08,1.11-5.08,5.08v30.49C265.42,230.91,267.48,232,270.5,232Z"/><path class="a" d="M297.73,239.48V183.91h9.21l11.67,34.37V183.91H327v55.57h-8.73l-12.15-36.12v36.12Z"/><path class="a" d="M357.59,203.75V196c0-3.49-2-4.76-4.69-4.76s-4.68,1.27-4.68,4.76v3.81c0,2.86.95,4.13,3.57,5.64l6.51,3.65c5.32,3,8.49,5.48,8.49,11.44v8c0,8.58-5.31,11.59-13.73,11.59h-.16c-8.41,0-13.73-2.93-13.73-11.59v-9.68h9.05v8.41c0,3.42,2,4.93,4.76,4.93s4.76-1.51,4.76-4.93v-4.36c0-2.86-.87-4.29-3.65-5.8l-6.43-3.65c-5.4-3.1-8.49-5.64-8.49-11.43V194.7c0-8.25,6-11.43,13.65-11.43H353c7.62,0,13.66,3.18,13.66,11.43v9.05Z"/><path class="a" d="M403.08,192h-9.29v47.48h-9.21V192h-9.29v-8.09h27.79Z"/><path class="a" d="M413.16,239.48V183.91h24.37V192H422.37v15.25h12.7v8.1h-12.7v16h15.4v8.1Z"/><path class="a" d="M470.48,239.48l-7.07-22.15H458.8v22.15h-9.2V183.91H464c8.41,0,14,3.33,14,11.75v9.92c0,5.32-2.22,8.65-6,10.32l7.94,23.58ZM458.8,209.39h4.85c3,0,5.08-1.11,5.08-5.08v-7.23c0-4-2.06-5.08-5.08-5.08H458.8Z"/></svg>
            </span></a>
            {{#if user}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"> {{user.username}} <p>&nbsp;</p><i
                        class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav text-right min-dropdown">
                    <li class="nav-item dropdown ">
                        <a id="my_prof" class="dropdown-item" href="/users/profile">Mój profil</a>
                        <a id="rank" class="dropdown-item" href="/ranking">Ranking</a>
                        <a id="log" class="dropdown-item" href="/users/logout">Wyloguj</a>
                    </li>
                </ul>
                <ul class="navbar-nav text-right max-dropdown">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a id="my_prof" class="dropdown-item" href="/users/profile">Mój profil</a>
                            <a id="rank" class="dropdown-item" href="/ranking">Ranking</a>
                            <a id="log" class="dropdown-item" href="/users/logout">Wyloguj</a>
                        </div>
                    </li>
                </ul>
            </div>
            {{/if}} {{#unless user}} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"> Gość <p>&nbsp;</p><i
                        class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav text-right min-dropdown">
                    <li class="nav-item dropdown ">
                        <a id="rank" class="dropdown-item" href="/ranking">Ranking</a>
                        <a id="log" class="dropdown-item" href="/users/login">Zaloguj</a>
                        <a id="reg" class="dropdown-item" data-toggle="modal" data-target="#registerModal">Zarejestruj sie
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav text-right max-dropdown">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Gość
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a id="rank" class="dropdown-item" href="/ranking">Ranking</a>
                            <a id="log" class="dropdown-item" href="/users/login">Zaloguj</a>
                            <a id="reg" class="dropdown-item" href="/users/register">Zarejestruj się
                            </a>
                        </div>
                    </li>
                </ul>
            </div>{{/unless}}
        </nav>
        {{{body}}}
    </div>
    {{>additional}}


</body>

</html>