<div class="error">
    <h1> {{messages.error}}</h1>
</div>
{{name}}
<div class="jumbotron text-center mb-0">
    <div class="container">
        <h5 id="title" class="title mb-0">Czy wiesz, że w 2017 roku 81.9% gospodarstw domowych w Polsce miało dostęp do Internetu?</h1>
        <p id="text" class="lead mb-0">Poznaj więcej danych statystycznych dotyczących Polski i Unii Europejskiej.</p>
        <p id="text" class="lead mb-1">Ucz i baw się rywalizując z innymi!</p>
        <button id="start_game" class="btn btn-success p-3">
            Rozpocznij przygodę
        </button>
    </div>
</div>
<div id="world"></div>
<button id="down" class="btn btn-primary">DOWN</button>