<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-danger"><a href="/room/guest">Dołącz jako gość</a></button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-danger"><a href="/users/login/">Zaloguj się</a></button>

            <button class="btn btn-primary"><a href="/users/register/">Zarejestruj się</a></button>
        </div>
    </div>
</div>