<button class="btn btn-danger starter">Let's START</button>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="questions">
                IDK
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">EEE</div>
        <div class="col-sm-6">miljon</div>
        <div class="w-100"></div>
        <div class="col-sm-6">0 frajerze</div>
        <div class="col-sm-6">2</div>
    </div>
</div>
</div>
<script>
    $.getScript("../javascripts/quizStarter/Net.js", function()
    {
        var imported = document.createElement('script');
        imported.src = "../javascripts/quizStarter/Main.js"
        document.head.appendChild(imported);
    });
</script>