<div class="container pt-2">
    <div class="row d-flex justify-content-around mb-2">
        <button id="starter" class="btn btn-success">Trening</button>
        <button id="ranked" class="btn btn-warning">Rankingowy</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nick</th>
                <th scope="col">Wiek</th>
                <th scope="col">Wynik</th>
            </tr>
        </thead>
        <tbody id="import">
        </tbody>
    </table>
</div>

<script>
    $.getScript("/javascripts/ranking/Net.js", function () {
        var imported = document.createElement('script');
        imported.src = "/javascripts/ranking/Main.js"
        document.head.appendChild(imported);
    });
</script>