*{
    text-shadow:1px 1px 0 rgba(0,0,0,0.6);
}
body {
    min-height: 100vh;
    overflow: hidden;
    background-image: url(../gfx/background.png);
}

.icon {
    height: 40px;
}

#logo {
    font-weight: 1000;
    font-size: 1.5rem;
}

#Capa_1 {
    position: relative;
}

.dropdown {
    min-width: 10rem;
}

.dropdown-toggle {
    width: 100%;
}

#start_game {
    font-size: 1rem;
    border-radius: 0;
}

.full-height {
    height: 100vh;
}

#info {
    width: 100vw;
    top: 100vh;

}

.jumbotron {
    background-color: transparent;
    color: white;
}

#world {
    position: absolute;
    left:-10vw;
    width: 120vw;
    height: 200%;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1.5rem 2rem;
    }
}

.title {
    font-size: 1.7rem;
    font-weight: 500;
    font-style: bold;
}

.arrow {
    width: 5rem;
    opacity: 1;
    fill: #3E3E3E;
    display: block;

}

#country_flag {
    flex-grow: 2;
    background-image: url(../gfx/pl.png);
    height: 90vh;
    width: 80vw;
    background-repeat: no-repeat;
    left:0;
    bottom:0;
    position: absolute;
    background-size: contain;
}

#data {
    flex-grow: 1;
}

.color-white {
    color: white;
}

.arr {
    position: absolute;
    height: 100%;
    top: 0;
    width: 4rem;
    background-color: black;
}

#r {
    right: 0;
}

#l {
    left: 0;
}

#up {
    width: 100%;
    user-select: none;
    position: absolute;
    text-shadow: none;
    box-shadow: none;
    left: 0;
    animation: arrow .6s linear infinite;
    animation-direction: alternate-reverse;
}

#up:focus {
    outline: none !important;
    border: none;
}

/* .login-modal {
    width: 800px !important;
} */

.login-header {
    background-color: #2FA812;
    border: none !important;
    border-radius: 0;
}

.modal-title {
    font-size: 40px;
}

.modal-footer {
    border: none !important;
}

.modal-content,
.modal-body {
    background-color: #16496D;
    border-radius: 0;
    border: none;
}

.modal-body {
    border: none;
}

.form-control-input {
    background-color: #16496D;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2FA812;
    color: rgba(47, 168, 18, 0.27);
    padding: 0;
    font-size: 20px;
    font-weight: 300;
}

.form-control-input::placeholder {
    color: rgba(47, 168, 18, 0.27);
}

.form-control-input:focus {
    background-color: #16496D;
    text-shadow: none;
    box-shadow: none;
    color: rgba(47, 168, 18, 0.27);
    outline: none;
}

.form-control-title {
    text-transform: uppercase;
    color: #2FA812;
    font-size: 16px;
    font-weight: initial;
}

.btn-control,
.btn-control-login {
    background-color: #2FA812;
    width: 100%;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #707070;
    padding: 16px 10px;
    border-radius: 0;
    margin: 10px 0;
}

.btn-control-login {
    background-color: #16496D;
    border: 1px solid rgba(47, 168, 18, 1);
}

.btn-title-loginup {
    color: rgba(47, 168, 18, 1);
    font-size: 24px;
    font-weight: bold;
}

.dropdown {
    margin: 0 !important;
}

.mr-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu>a {
    cursor: pointer;
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 800px;
    }

}



@keyframes arrow {
    0% {
        top: 20px;
    }

    33% {
        top: 15px;
    }

    66% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

.b-transparent {
    background-color: transparent
}

.card-img {
    height: 300px;
}

.circle {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: inline-block;
}

.question {
    max-height: 8rem;
}

path.cls-15:hover {
    fill: #ff0 !important;
}

path {
    pointer-events: all !important;
}
.bg-halftransparent{
    background-color: rgba(130,130,130,0.4);
}
#loader{
    display:flex;
    top:0;
    bottom:0;
}
#complete{
    display:none;
    top:0;
    bottom:0;
}
.card{
    width: 300px;
}